@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme {
  --color-light-blue: #B9DDFF;
  --color-purple: #6369D1;
  --color-light-yellow: #F5F2B8;
  --color-light-green: #C5DCA0;
  --color-orange: #F7A278;
  --color-pink: #A13D63;
  --color-aubergine: #351E29;
}

html,
body {
  height: 100%;
}

body {
  background: #f1f1ec;
  color: var(--foreground);
}